<span style="background-color: #FFFF00">{{errorMessage}}</span>

<h4>Files In Directory</h4>
<div class="ui-toolbar-group-right">

    <button pButton type="button"
            (click)="openCreateFolder()"
            label="Create Folder"
            icon="fa-plus-square"
            class="ui-button-success"></button>

    <button pButton type="button"
            (click)="deleteItems()"
            label="Delete"
            icon="fa-trash"
            class="ui-button-danger"></button>
</div>

<!-- Tree Node Control -->
<p-tree [value]="fileList"
        selectionMode="multiple"
        [(selection)]="selectedNodes"
        (onNodeSelect)="nodeSelect($event)"></p-tree>

<br />
<h4>Upload Files</h4>
<br />
<label for="FileFolder">File Folder </label>

<p-dropdown id="FileFolder"
            [options]="foldersDropdown"
            [(ngModel)]="selectedFolder">
</p-dropdown>

<p-fileUpload name="myfile[]"
              url="api/upload"
              multiple="multiple"
              (onBeforeUpload)="onBeforeUploadHandler($event)"
              (onUpload)="onUploadHandler($event)">
</p-fileUpload>

<!-- Dialog -->
<p-dialog [(visible)]="showCreateFolderPopup"
          modal="modal"
          width="400"
          height="230"
          [responsive]="true"
          [contentStyle]="{'overflow':'visible'}">

  <p-header>
        Create New Folder
    </p-header>
    <label for="FileFolderPopup">Parent Folder </label>
    <p-dropdown id="FileFolderPopup"
                [options]="foldersDropdown"
                [(ngModel)]="selectedFolder"
                [style]="{'width':'150px'}"></p-dropdown>
  
    <label for="FolderName">Folder Name </label>
    <input id="FolderName" type="text" pInputText [(ngModel)]="NewFolderName" />
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button pButton type="button"
                    (click)="CreateFolder()"
                    label="Create Folder"
                    icon="fa-plus-square"
                    class="ui-button-success"></button>
        </div>
    </p-footer>
</p-dialog>
